.HobbyCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
}

.HobbyCell--input {
  padding: 0;
  height: 35px;
  align-items: stretch;
}

.HobbyCell-hobby {
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.HobbyCell-passion {
  width: 20%;
}

.HobbyCell-delete {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
